Nodered.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fed314fe6ffa9e64",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E100/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "176d71aa726b9eb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "2150dade021805d6",
                "d1ccae5ae273bd14",
                "ac1b5d373ce10831"
            ]
        ]
    },
    {
        "id": "2150dade021805d6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "d1ccae5ae273bd14",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e9afeea16ee99eec",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température E100",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "ac1b5d373ce10831",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "a5cb51e39799634e",
                "abb1fa66e79904c5"
            ]
        ]
    },
    {
        "id": "a5cb51e39799634e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "223ee56f5a87858a",
        "name": "",
        "measurement": "temperature,salle=E100,batiment=RT",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "12b0647b0d1b8c1b",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "176d71aa726b9eb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "dc80e82d2fe775cf",
                "087668678d8a56f8",
                "015dfb26224a4a36"
            ]
        ]
    },
    {
        "id": "dc80e82d2fe775cf",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "lum",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "087668678d8a56f8",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "11b82f55795ebc6d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosité E105",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "015dfb26224a4a36",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].illumination)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "23185ac89b7826c1",
                "4b01eaea3bad7a2d"
            ]
        ]
    },
    {
        "id": "23185ac89b7826c1",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "223ee56f5a87858a",
        "name": "",
        "measurement": "illumination,salle=E105,batiment=RT",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "7ed9d541c44701be",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B101/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "176d71aa726b9eb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "162c5db550efc60d",
                "56559a8c6630d7f3",
                "c8da8cd63d20b7ef"
            ]
        ]
    },
    {
        "id": "162c5db550efc60d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 160,
        "wires": []
    },
    {
        "id": "56559a8c6630d7f3",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "e9afeea16ee99eec",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température B101",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1410,
        "y": 220,
        "wires": []
    },
    {
        "id": "c8da8cd63d20b7ef",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].temperature)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "8df80ec5e413086a",
                "431d7e8c134748f5"
            ]
        ]
    },
    {
        "id": "8df80ec5e413086a",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "223ee56f5a87858a",
        "name": "",
        "measurement": "temperature,salle=B101,batiment=INFO",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1720,
        "y": 280,
        "wires": []
    },
    {
        "id": "8d5a2ef887febd0f",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B001/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "176d71aa726b9eb7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "5cb1160464a57390",
                "8258757e483ff3f0",
                "58f8f4e3336b6dbd"
            ]
        ]
    },
    {
        "id": "5cb1160464a57390",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "lum",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 540,
        "wires": []
    },
    {
        "id": "8258757e483ff3f0",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "8119ac5a30a9b286",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosité B001",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1390,
        "y": 600,
        "wires": []
    },
    {
        "id": "58f8f4e3336b6dbd",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload[0].illumination)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "1b5ac554c366518a",
                "62872aa2d2560c9f"
            ]
        ]
    },
    {
        "id": "1b5ac554c366518a",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "223ee56f5a87858a",
        "name": "",
        "measurement": "illumination,salle=B001,batiment=INFO",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1700,
        "y": 660,
        "wires": []
    },
    {
        "id": "62872aa2d2560c9f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 480,
        "wires": []
    },
    {
        "id": "431d7e8c134748f5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 140,
        "wires": []
    },
    {
        "id": "abb1fa66e79904c5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "4b01eaea3bad7a2d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "176d71aa726b9eb7",
        "type": "mqtt-broker",
        "name": "mosquittoRT",
        "broker": "mqtt.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e9afeea16ee99eec",
        "type": "ui_group",
        "name": "Capteurs Température",
        "tab": "d6ed43fd841cab44",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "223ee56f5a87858a",
        "type": "influxdb",
        "hostname": "192.168.1.30",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "serveur",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "11b82f55795ebc6d",
        "type": "ui_group",
        "name": "Capteurs Luminosité",
        "tab": "546baeafbf529926",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8119ac5a30a9b286",
        "type": "ui_group",
        "name": "Capteurs Luminosité",
        "tab": "855e2c273dcbbaf8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ed43fd841cab44",
        "type": "ui_tab",
        "name": "Bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "546baeafbf529926",
        "type": "ui_tab",
        "name": "Bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "855e2c273dcbbaf8",
        "type": "ui_tab",
        "name": "Bâtiment INFO",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]